.Rproj.user
.Rhistory
.RData
.Ruserdata
bigquery-geotab-intersection-congestion-data/
geotab-intersection-congestion.Rproj
backup_data_files/train_append_TotalPopulation.csv
backup_data_files/train_normalize_census.csv

scratch.R
